@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Rowdies:wght@300;400;700&display=swap');

/* variable globaux */

:root {
    --text-color : #2C3333;
    --background-color : #F5F2E7;
    --secondary-color: #395B64;
    --font-family: 'Rowdies', sans-serif;
}
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: O;
}
html {
    font-size: 62.5%;
}
body {
    font-family: var(--font-family);
    scroll-behavior: smooth;
}